@import '@/styles/import';

.container {
  overflow: hidden;
  background-color: $white;
}

.inner {
  position: absolute;
  display: flex;
  padding: grid-column(1);
}

.info {
  width: grid-column(12);
}

.infoItem {
  display: inline;
}

.caseLink {
  text-decoration: underline;
  display: block;
  margin-top: grid-column(1);
}

.body {
  width: grid-column(31);
  margin-left: grid-column(5);
}
