@import '@/styles/import';

.container {
  position: relative;
  overflow: hidden;
  background-color: $white;
}

.inner {
  position: absolute;
  padding: mob-column(1);

  @include breakpoint('small') {
    display: flex;
    padding: desktop-column(1);
  }
}

.info {
  width: mob-column(23);

  @include breakpoint('medium') {
    width: desktop-column(12);
  }
}

.infoItem {
  display: inline;
}

.caseLink {
  text-decoration: underline;
  display: block;

  margin-top: desktop-column(1);
}

.body {
  width: mob-column(23);

  @include breakpoint('small') {
    width: desktop-column(31);
    margin-left: desktop-column(5);
  }
}
