@import '../../styles/init/mixins';

.container {
  position: fixed;

  height: 100%;
  width: 100%;
}

.menu {
  z-index: 1;
  position: relative;

  padding: grid-column(1);
}

.logoLink {
  text-decoration: none;

  width: 10em;
}
