@font-face {
  font-family: 'InterVariable';
  src: url('/fonts/inter/inter.var.woff2') format('woff2');
  font-weight: 1 999;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/inter-regular.woff2') format('woff2'),
    url('/fonts/inter/inter-regular.woff') format('woff'),
    url('/fonts/inter/inter-regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/inter-semibold.woff2') format('woff2'),
    url('/fonts/inter/inter-semibold.woff') format('woff'),
    url('/fonts/inter/inter-semibold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/inter-extrabold.woff2') format('woff2'),
    url('/fonts/inter/inter-extrabold.woff') format('woff'),
    url('/fonts/inter/inter-extrabold.otf') format('otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/inter-extrabolditalic.woff2') format('woff2'),
    url('/fonts/inter/inter-extrabolditalic.woff') format('woff'),
    url('/fonts/inter/inter-extrabolditalic.otf') format('otf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/helvetica-neue/helvetica-neue-medium.woff2') format('woff2'),
    url('/fonts/helvetica-neue/helvetica-neue-medium.woff') format('woff'),
    url('/fonts/helvetica-neue/helvetica-neue-medium.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'GTAlpina';
  src: url('/fonts/alpina/gt-alpina-thin.woff2') format('woff2'),
    url('/fonts/alpina/gt-alpina-thin.woff') format('woff'),
    url('/fonts/alpina/gt-alpina-thin.otf') format('opentype');
  font-weight: 200;
  font-style: 400;
}

@font-face {
  font-family: 'GTAlpina';
  src: url('/fonts/alpina/gt-alpina-thin-italic.woff2') format('woff2'),
    url('/fonts/alpina/gt-alpina-thin-italic.woff') format('woff'),
    url('/fonts/alpina/gt-alpina-thin-italic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'GTAlpina';
  src: url('/fonts/alpina/gt-alpina-light.woff2') format('woff2'),
    url('/fonts/alpina/gt-alpina-light.woff') format('woff'),
    url('/fonts/alpina/gt-alpina-light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GTAlpina';
  src: url('/fonts/alpina/gt-alpina-light-italic.woff2') format('woff2'),
    url('/fonts/alpina/gt-alpina-light-italic.woff') format('woff'),
    url('/fonts/alpina/gt-alpina-light-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GTAlpinaCondensed';
  src: url('/fonts/alpina/gt-alpina-thin-condensed.woff2') format('woff2'),
    url('/fonts/alpina/gt-alpina-thin-condensed.woff') format('woff'),
    url('/fonts/alpina/gt-alpina-thin-condensed.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'GTAlpinaCondensed';
  src: url('/fonts/alpina/gt-alpina-light-condensed-italic.woff2') format('woff2'),
    url('/fonts/alpina/gt-alpina-light-condensed-italic.woff') format('woff'),
    url('/fonts/alpina/gt-alpina-light-condensed-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

.h1 {
  font-family: 'Inter', 'Helvetica', 'Georgia';
  font-size: get-vw(170);
  letter-spacing: -0.03em;
  font-weight: 800;

  @supports (font-variation-settings: normal) {
    font-family: 'InterVariable', 'Helvetica', 'Georgia';
  }

  @include breakpoint('medium') {
    font-size: get-vw(568);
  }
}

.h2 {
  font-family: 'Inter', 'Helvetica', 'Georgia';
  font-size: get-vw(180);
  line-height: 1;
  letter-spacing: -0.07em;
  font-weight: 800;

  @supports (font-variation-settings: normal) {
    font-family: 'InterVariable', 'Helvetica', 'Georgia';
    font-variation-settings: 'wght' 800, 'slnt' 0;
  }
}

.h3 {
  font-family: 'Inter', 'Helvetica', 'Georgia';
  font-size: px-rem(14);
  font-weight: 600;
  line-height: 0.97;
  letter-spacing: -0.07em;

  @include breakpoint('small') {
    font-size: px-rem(20);
    font-weight: 400;
  }

  @include breakpoint('medium') {
    font-size: px-rem(28);
  }
}

.h4 {
  font-family: 'GTAlpinaCondensed', 'Helvetica', 'Georgia';
  font-size: px-rem(28);
  line-height: 0.97;
  letter-spacing: -0.03em;
}

.tag {
  font-family: 'GTAlpina', 'Helvetica', 'Georgia';
  font-size: px-rem(9);
  line-height: 0.97;
  letter-spacing: -0.03em;
  font-weight: 200;

  @include breakpoint('small') {
    font-size: px-rem(16);
  }

  @include breakpoint('medium') {
    font-size: px-rem(21);
  }
}

.b1 {
  font-family: 'GTAlpina', 'Helvetica', 'Georgia';
  font-size: px-rem(34);
  line-height: 0.97;
  letter-spacing: -0.03em;

  @include breakpoint('small') {
    font-size: px-rem(52);
  }

  @include breakpoint('medium') {
    font-size: px-rem(96);
  }
}

.b2 {
  font-family: 'GTAlpinaCondensed', 'Helvetica', 'Georgia';
  font-size: px-rem(20);
  line-height: 0.97;
  font-weight: 200;
  letter-spacing: -0.03em;

  @include breakpoint('small') {
    font-size: px-rem(24);
  }

  @include breakpoint('medium') {
    font-size: px-rem(30);
  }
}

.b3 {
  font-family: 'GTAlpinaCondensed', 'Helvetica', 'Georgia';
  font-size: px-rem(14);
  line-height: 0.97;
  font-weight: 200;
  letter-spacing: -0.03em;

  @include breakpoint('small') {
    font-size: px-rem(18);
  }

  @include breakpoint('medium') {
    font-size: px-rem(23);
  }

  &.italic {
    font-style: italic;
  }
}

.logo {
  font-family: 'HelveticaNeue', 'Helvetica', 'Georgia';
  font-size: px-rem(11);
  line-height: 0.97;
  letter-spacing: -0.02em;

  @include breakpoint('small') {
    font-size: px-rem(20);
  }
}

.sup {
  font-family: 'GTAlpina', 'Helvetica', 'Georgia';
  font-size: px-rem(12);
  font-weight: 200;
  letter-spacing: -0.03em;

  @include breakpoint('small') {
    font-size: px-rem(16);
  }

  @include breakpoint('medium') {
    font-size: px-rem(34);
  }
}
