@import '@/styles/import';

.container {
  padding: desktop-column(5) desktop-column(1) desktop-column(1);
}

.heading {
  margin-bottom: 1em;

  @include breakpoint('small') {
    margin-bottom: 0.5em;
  }
}

.award {
  display: inline;
}

.count {
  margin-left: 0.25em;
}
