@import '@/styles/import';

.container {
  width: grid-column(30);
  padding: grid-column(8) grid-column(1) grid-column(1);
  margin-left: grid-column(18);

  a {
    border-bottom: 1px solid $black;
  }
}
